* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

hr {
  margin: 1rem 0;
}

button {
  margin-top: 1rem;
  background-color: rgb(74, 74, 195);
  padding: 0.5rem 0.8rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

._dark {
  color: white;
  background-color: black;
}

._green {
  color: white;
  background-color: green;
}

._red {
  color: white;
  background-color: brown;
}
