.form_search {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 20px;
}

.form_search label {
  width: 320px;
}

.form_search label span {
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

.form_search label input {
  width: 200px;
}
