.articleTeams {
  margin: 1rem auto;
  width: 320px;
  border: 1px solid black;
  padding: 1rem;
  background-color: rgb(94, 107, 183);
}

.error {
  text-align: center;
  color: brown;
  font-weight: bold;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  padding: 10px;
  background-color: azure;
  list-style-position: inside;
  /* margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0; */
}
